@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow: hidden; 
  color:white;
  font-family: 'Roboto', sans-serif;


}
input[type=text] {
  -webkit-appearance: none;
}
*:focus { outline: none; }
.background{
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  background: url(./components/sprites/TASkkQB.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;

 transform: scale(1.15); 
}
